In [19]:
import warnings
warnings.filterwarnings('ignore')

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
data_train = pd.read_csv("./Dataset/train.csv")
data_test = pd.read_csv("./Dataset/test.csv")

In [22]:
data_test.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation
0,659,2,12,3000,52
1,276,21,7,1750,38
2,263,4,1,250,4
3,303,11,11,2750,38
4,83,4,12,3000,34

In [23]:
data_train.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
y_train = data_train['Made Donation in March 2007'].as_matrix()

In [26]:
data_train.drop(['Made Donation in March 2007'],axis=1,inplace=True)

In [27]:
X_train = data_train

In [28]:
X_train.drop(['Unnamed: 0'],axis=1,inplace=True)
X_train = X_train.as_matrix()

In [29]:
from sklearn.grid_search import GridSearchCV

In [61]:
model = RandomForestClassifier()
#RandomForestClassifier?

In [72]:
n_est_opt = [10,20,50,100,300,1000]
criterion_opt = ['gini','entropy']
min_samples_leaf_opt = [4,5,6,7,8,9,10]

In [73]:
param_grid = dict(n_estimators = n_est_opt,criterion = criterion_opt,min_samples_leaf = min_sample_leaf_opt)

In [74]:
grid = GridSearchCV(model,param_grid,cv=10,scoring="accuracy",n_jobs=-1)

In [75]:
grid.fit(X_train,y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params={}, iid=True, loss_func=None, n_jobs=-1,
       param_grid={'min_samples_leaf': [1, 2, 3, 4, 5], 'criterion': ['gini', 'entropy'], 'n_estimators': [10, 20, 50, 100, 300, 1000]},
       pre_dispatch='2*n_jobs', refit=True, score_func=None,
       scoring='accuracy', verbose=0)

In [76]:
grid.grid_scores_

[mean: 0.67014, std: 0.14104, params: {'min_samples_leaf': 1, 'criterion': 'gini', 'n_estimators': 10},
 mean: 0.68576, std: 0.13500, params: {'min_samples_leaf': 1, 'criterion': 'gini', 'n_estimators': 20},
 mean: 0.68056, std: 0.13236, params: {'min_samples_leaf': 1, 'criterion': 'gini', 'n_estimators': 50},
 mean: 0.67361, std: 0.13862, params: {'min_samples_leaf': 1, 'criterion': 'gini', 'n_estimators': 100},
 mean: 0.67361, std: 0.13913, params: {'min_samples_leaf': 1, 'criterion': 'gini', 'n_estimators': 300},
 mean: 0.68229, std: 0.14112, params: {'min_samples_leaf': 1, 'criterion': 'gini', 'n_estimators': 1000},
 mean: 0.70833, std: 0.13731, params: {'min_samples_leaf': 2, 'criterion': 'gini', 'n_estimators': 10},
 mean: 0.71007, std: 0.13884, params: {'min_samples_leaf': 2, 'criterion': 'gini', 'n_estimators': 20},
 mean: 0.70833, std: 0.14304, params: {'min_samples_leaf': 2, 'criterion': 'gini', 'n_estimators': 50},
 mean: 0.70486, std: 0.14613, params: {'min_samples_leaf': 2, 'criterion': 'gini', 'n_estimators': 100},
 mean: 0.70833, std: 0.15361, params: {'min_samples_leaf': 2, 'criterion': 'gini', 'n_estimators': 300},
 mean: 0.71007, std: 0.14956, params: {'min_samples_leaf': 2, 'criterion': 'gini', 'n_estimators': 1000},
 mean: 0.70833, std: 0.14278, params: {'min_samples_leaf': 3, 'criterion': 'gini', 'n_estimators': 10},
 mean: 0.71875, std: 0.14330, params: {'min_samples_leaf': 3, 'criterion': 'gini', 'n_estimators': 20},
 mean: 0.72569, std: 0.14354, params: {'min_samples_leaf': 3, 'criterion': 'gini', 'n_estimators': 50},
 mean: 0.72049, std: 0.15692, params: {'min_samples_leaf': 3, 'criterion': 'gini', 'n_estimators': 100},
 mean: 0.72743, std: 0.15264, params: {'min_samples_leaf': 3, 'criterion': 'gini', 'n_estimators': 300},
 mean: 0.72917, std: 0.15308, params: {'min_samples_leaf': 3, 'criterion': 'gini', 'n_estimators': 1000},
 mean: 0.72049, std: 0.13421, params: {'min_samples_leaf': 4, 'criterion': 'gini', 'n_estimators': 10},
 mean: 0.72396, std: 0.14073, params: {'min_samples_leaf': 4, 'criterion': 'gini', 'n_estimators': 20},
 mean: 0.71875, std: 0.15271, params: {'min_samples_leaf': 4, 'criterion': 'gini', 'n_estimators': 50},
 mean: 0.72743, std: 0.14587, params: {'min_samples_leaf': 4, 'criterion': 'gini', 'n_estimators': 100},
 mean: 0.72917, std: 0.15210, params: {'min_samples_leaf': 4, 'criterion': 'gini', 'n_estimators': 300},
 mean: 0.73090, std: 0.15388, params: {'min_samples_leaf': 4, 'criterion': 'gini', 'n_estimators': 1000},
 mean: 0.74132, std: 0.13443, params: {'min_samples_leaf': 5, 'criterion': 'gini', 'n_estimators': 10},
 mean: 0.73264, std: 0.12700, params: {'min_samples_leaf': 5, 'criterion': 'gini', 'n_estimators': 20},
 mean: 0.72743, std: 0.14969, params: {'min_samples_leaf': 5, 'criterion': 'gini', 'n_estimators': 50},
 mean: 0.72569, std: 0.14903, params: {'min_samples_leaf': 5, 'criterion': 'gini', 'n_estimators': 100},
 mean: 0.72917, std: 0.15033, params: {'min_samples_leaf': 5, 'criterion': 'gini', 'n_estimators': 300},
 mean: 0.72569, std: 0.15042, params: {'min_samples_leaf': 5, 'criterion': 'gini', 'n_estimators': 1000},
 mean: 0.67188, std: 0.14873, params: {'min_samples_leaf': 1, 'criterion': 'entropy', 'n_estimators': 10},
 mean: 0.66667, std: 0.14207, params: {'min_samples_leaf': 1, 'criterion': 'entropy', 'n_estimators': 20},
 mean: 0.68576, std: 0.14272, params: {'min_samples_leaf': 1, 'criterion': 'entropy', 'n_estimators': 50},
 mean: 0.67708, std: 0.14290, params: {'min_samples_leaf': 1, 'criterion': 'entropy', 'n_estimators': 100},
 mean: 0.67535, std: 0.14145, params: {'min_samples_leaf': 1, 'criterion': 'entropy', 'n_estimators': 300},
 mean: 0.68403, std: 0.14151, params: {'min_samples_leaf': 1, 'criterion': 'entropy', 'n_estimators': 1000},
 mean: 0.68403, std: 0.13679, params: {'min_samples_leaf': 2, 'criterion': 'entropy', 'n_estimators': 10},
 mean: 0.71354, std: 0.13529, params: {'min_samples_leaf': 2, 'criterion': 'entropy', 'n_estimators': 20},
 mean: 0.71354, std: 0.15138, params: {'min_samples_leaf': 2, 'criterion': 'entropy', 'n_estimators': 50},
 mean: 0.71701, std: 0.14062, params: {'min_samples_leaf': 2, 'criterion': 'entropy', 'n_estimators': 100},
 mean: 0.71181, std: 0.14311, params: {'min_samples_leaf': 2, 'criterion': 'entropy', 'n_estimators': 300},
 mean: 0.70833, std: 0.14850, params: {'min_samples_leaf': 2, 'criterion': 'entropy', 'n_estimators': 1000},
 mean: 0.70660, std: 0.13591, params: {'min_samples_leaf': 3, 'criterion': 'entropy', 'n_estimators': 10},
 mean: 0.71701, std: 0.14458, params: {'min_samples_leaf': 3, 'criterion': 'entropy', 'n_estimators': 20},
 mean: 0.72049, std: 0.14363, params: {'min_samples_leaf': 3, 'criterion': 'entropy', 'n_estimators': 50},
 mean: 0.72222, std: 0.15571, params: {'min_samples_leaf': 3, 'criterion': 'entropy', 'n_estimators': 100},
 mean: 0.72222, std: 0.15007, params: {'min_samples_leaf': 3, 'criterion': 'entropy', 'n_estimators': 300},
 mean: 0.72743, std: 0.15781, params: {'min_samples_leaf': 3, 'criterion': 'entropy', 'n_estimators': 1000},
 mean: 0.72743, std: 0.14489, params: {'min_samples_leaf': 4, 'criterion': 'entropy', 'n_estimators': 10},
 mean: 0.71528, std: 0.14639, params: {'min_samples_leaf': 4, 'criterion': 'entropy', 'n_estimators': 20},
 mean: 0.72222, std: 0.14924, params: {'min_samples_leaf': 4, 'criterion': 'entropy', 'n_estimators': 50},
 mean: 0.72917, std: 0.15073, params: {'min_samples_leaf': 4, 'criterion': 'entropy', 'n_estimators': 100},
 mean: 0.72917, std: 0.15151, params: {'min_samples_leaf': 4, 'criterion': 'entropy', 'n_estimators': 300},
 mean: 0.73090, std: 0.15388, params: {'min_samples_leaf': 4, 'criterion': 'entropy', 'n_estimators': 1000},
 mean: 0.72743, std: 0.13106, params: {'min_samples_leaf': 5, 'criterion': 'entropy', 'n_estimators': 10},
 mean: 0.72569, std: 0.14763, params: {'min_samples_leaf': 5, 'criterion': 'entropy', 'n_estimators': 20},
 mean: 0.72396, std: 0.15171, params: {'min_samples_leaf': 5, 'criterion': 'entropy', 'n_estimators': 50},
 mean: 0.72917, std: 0.15151, params: {'min_samples_leaf': 5, 'criterion': 'entropy', 'n_estimators': 100},
 mean: 0.72569, std: 0.15042, params: {'min_samples_leaf': 5, 'criterion': 'entropy', 'n_estimators': 300},
 mean: 0.73090, std: 0.15193, params: {'min_samples_leaf': 5, 'criterion': 'entropy', 'n_estimators': 1000}]

In [77]:
grid.best_params_

{'criterion': 'gini', 'min_samples_leaf': 5, 'n_estimators': 10}

In [78]:
grid.best_score_

0.74131944444444442

In [79]:
data_test.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation
0,659,2,12,3000,52
1,276,21,7,1750,38
2,263,4,1,250,4
3,303,11,11,2750,38
4,83,4,12,3000,34